# Ignorar a pasta bin
bin/

# Ignorar apenas arquivos .class na pasta bin
bin/**/*.class

# Ignorar todos os arquivos .class
*.class

# Outras regras comuns para projetos Java
# Arquivos de log
*.log

# Arquivos temporários
*.tmp
*.bak
*.swp
*~
*.orig

# Ferramentas de construção e pacotes
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Gradle
.gradle/
build/

# Eclipse
.project
.classpath
.metadata/
tmp/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

